#map {
    height: 400px;
    width: 100%;
}

#directions-panel {
    margin-top: 10px;
    background-color: #f0f0f0;
    padding: 10px;
}

#inputs {
    margin-top: 10px;
}

#inputs input {
    margin-right: 10px;
}

#inputs button {
    padding: 5px 10px;
    cursor: pointer;
}

body {
  background-color: grey;
}
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 5rem;
  color: white;
  letter-spacing: 5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.25rem;
}

div > img {
  width: 200px;
  height: 200px;
}

div > div {
  box-shadow: 0px 0px 7px black;
}

div > * {
  object-fit: cover;
  border-radius: 20px;
}

div:nth-child(2) {
  background-color: white;
}

div p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline;
}

.container > div {
  background-color: white;
  display: flex;
  cursor: pointer;
  position: relative;
}
.container > div > p {
  margin: 20px;
  text-wrap: nowrap;
}
.front {
  align-self: flex-start;
  color: dodgerblue;
}
.container > div > p:not(.front) {
  align-self: center;
}

.arrow {
  font-size: 2.25rem;
}

.container > div > img {
  margin: 20px;
}

.container > div::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid rgb(53, 142, 230);
  border-left: none;
  align-self: center;
  border-top: none;
  margin-left: 20px;
  rotate: -45deg;
  transition: margin-left 0.2s ease;
}

.container > div::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  transform: scaleX(0);
  align-self: center;
  margin-left: 24px;
  background-color: rgb(53, 142, 230);
  transition: transform 0.2s ease;
  transform-origin: left;
  border-radius: 5px;
}
.container > div:hover::after {
  transform: scaleX(1);
}

.container > div:hover::before {
  margin-left: 27px;
}
